ReportMonthResultGenerator/Service References/SrvOrderTimes/SrvOrderTimes2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddOrderTimes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="record" type="tns:OrderTimes" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="OrderTimes">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="ItemCookTime" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TransactionNumber" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ItemNumber" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ItemId" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderFirstDisplayedTime" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderLastBumpTime" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="VirtualDisplayId" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ServerId" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderStartTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Dep" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BusinessDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderEndTime" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddOrderTimesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddOrderTimesResult" type="tns:AddOrderTimeResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AddOrderTimeResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Result" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Exists" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrMsg" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddOrderTimesSoapIn">
    <wsdl:part name="parameters" element="tns:AddOrderTimes" />
  </wsdl:message>
  <wsdl:message name="AddOrderTimesSoapOut">
    <wsdl:part name="parameters" element="tns:AddOrderTimesResponse" />
  </wsdl:message>
  <wsdl:portType name="SrvOrderTimes2Soap">
    <wsdl:operation name="AddOrderTimes">
      <wsdl:input message="tns:AddOrderTimesSoapIn" />
      <wsdl:output message="tns:AddOrderTimesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SrvOrderTimes2Soap" type="tns:SrvOrderTimes2Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddOrderTimes">
      <soap:operation soapAction="http://tempuri.org/AddOrderTimes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SrvOrderTimes2Soap12" type="tns:SrvOrderTimes2Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddOrderTimes">
      <soap12:operation soapAction="http://tempuri.org/AddOrderTimes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SrvOrderTimes2">
    <wsdl:port name="SrvOrderTimes2Soap" binding="tns:SrvOrderTimes2Soap">
      <soap:address location="http://s2010:3131/SrvOrderTimes2.asmx" />
    </wsdl:port>
    <wsdl:port name="SrvOrderTimes2Soap12" binding="tns:SrvOrderTimes2Soap12">
      <soap12:address location="http://s2010:3131/SrvOrderTimes2.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>